
/* disable bootstrap icon and use font-awesome */
[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
	background-image: none;
    width: auto;
}

.google-follow {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
	vertical-align: middle;
	margin-bottom: 10px;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    line-height: 0.4em;
}

.jumbotron {
    background: #020031;
}

.masthead {
    padding: 0 0 10px;
}

body > .navbar .brand {
	float: left;
	padding-right: 10px;
	color: #ffffff;
}

.tooltip-inner {
	color: #000000;
	background-color: #ffffff;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ffffff;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #ffffff;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #ffffff;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ffffff;
}


.navbar .nav > li > a  .icon-share-alt{
	opacity: 0.2;
}

.navbar .nav > li > a:hover  .icon-share-alt{
	opacity: 1;
}

.footer a:hover {
	color: #990099;
	text-decoration: none;
}


