
.jumbotron {
    background: -moz-linear-gradient(45deg, #6D3353 0%, #020031 100%) repeat scroll 0 0 transparent;
}

.masthead {
    padding: 0 0 10px;
}

body > .navbar .brand {
	float: left;
	padding-right: 10px;
	color: #7d7e80;
}