
.row-home {
	margin-top: 100px;
	margin-bottom: 30px;
}

.row-col-home {
	text-align: center;
}

.complete-documentation {
	text-align: right;
}

.google-follow {
    color: #333333;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
    vertical-align: middle;
}

.bs-docs-footer-links li {
    padding-right: 10px;
}
